.App {
  text-align: center;
}

h1{
  font-size: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  margin-bottom: 35px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background: linear-gradient(to right ,rgba(0, 0, 0, 0.103),rgba(0, 0, 0, 0.068)) ;
  
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #6e6e6e;
}
th{
  padding: 10px 15px;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
td{
  padding: 10px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  text-align: justify;
  
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4); */
  /* background: -webkit-linear-gradient(left,  #040f33b2 ,rgb(39, 39, 39));
  background: linear-gradient(to right, rgb(39, 39, 39), #040f33b2); */
  background: #161625;
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
} 
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
}



@media screen and (max-width: 680px) {
 h1{
   font-size: 50px;
 }

table{
  width:100%;

}

th , td{
  overflow: auto;
font-size: 10px;
padding-left: 2px;
padding-right: 2px;
}



}